.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: row;
  flex-grow: 4;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-bottom: 6vh;
  color: white;
}

.App-nav {
  display: flex;
  padding-left: 12vh;
}

.App-link {
  color: #61dafb;
}
